:host {
    display: block;
}

/* SECTIONS */
.section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 56px 16px;
}

.section--center {
    text-align: center;
}

.section__title {
    margin: 0 0 12px;
    color: #111;
    font-weight: 600;
}

.section__text {
    margin: 0 auto 18px;
    max-width: 760px;
    color: #444;
    line-height: 1.6;
}